@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;600&display=swap');

/* 
==============
Global Styles 
============== 
*/

*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    font-family: 'Raleway', sans-serif;
    background-color: #eee;
}

ul { 
    list-style-type: none;
} 

a { 
    text-decoration: none;
}

/* 
==============

============== 
*/

section {
    width: 60%;
    margin: 60px auto;
}

.title h2 {
    padding-bottom: 1rem;
}

.main-content {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.tab-btn {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.tab-btn:hover {
    background: rgb(196, 196, 196);
}

.content-item {
    display: none;
    padding: 2rem;
}

.content-item h4 {
    padding-bottom: 1rem;
}

.content-item p {
    line-height: 24px;
}

.tab-btn.active {
    background: rgb(196, 196, 196);
}

.content-item.active {
    display: block;
    background: rgb(196, 196, 196);
}