@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;600&display=swap');

/* 
==============
Global Styles 
============== 
*/

*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    font-family: 'Raleway', sans-serif;
    background-color: #eee;
}

ul { 
    list-style-type: none;
} 

a { 
    text-decoration: none;
}

/* 
==============

============== 
*/