@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');

/* 
==============
Global Styles 
============== 
*/

*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: #eee;
}

ul { 
    list-style-type: none;
} 

a { 
    text-decoration: none;
}

/* 
==============
Accordion
============== 
*/

.section {
    display: grid;
    justify-content: center;
    margin-top: 2rem;
}

.heading {
    text-align: center;
    padding: 2rem;
    font-size: 1.5rem;
}

.article {
    background-color: #fff;
    padding: 1rem;
    width: 60vw;
    margin-bottom: 1rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.accordion-text {
    padding: 1rem;
    border-top: 1px solid #e7e7e7;
    line-height: 1.4rem;
}

/* hide text  */
.accordion-text {
    display: none;
}

/* show text */
.show-text .accordion-text {
    display: block;
}

.minus-icon {
    display: none;
}

.show-text .minus-icon {
    display: block;
}

.show-text .plus-icon {
    display: none;
}

.accordion-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-size: 1.4rem;
}

.btn-article {
    border: none;
    background: none;
    padding: 6px;
    font-size: 1.2rem;
    cursor: pointer;
}